USE [master]
GO
/****** Object:  Database [BirthdayPartyBooking]    Script Date: 6/10/2024 9:52:18 PM ******/
CREATE DATABASE [BirthdayPartyBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BirthdayPartyBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BirthdayPartyBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BirthdayPartyBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BirthdayPartyBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BirthdayPartyBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BirthdayPartyBooking]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 6/10/2024 9:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [uniqueidentifier] NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[PHONE] [nchar](10) NULL,
	[ROLE] [int] NULL,
	[DELETE_FLAG] [int] NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 6/10/2024 9:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID] [uniqueidentifier] NOT NULL,
	[GUEST_ID] [uniqueidentifier] NULL,
	[TOTAL_PRICE] [int] NULL,
	[NOTE] [nvarchar](300) NULL,
	[PLACE_ID] [uniqueidentifier] NULL,
	[DELETE_FLAG] [int] NULL,
	[DATE] [date] NULL,
	[ORDER_DATE] [datetime] NULL,
	[HOST_ID] [uniqueidentifier] NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 6/10/2024 9:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[ID] [uniqueidentifier] NOT NULL,
	[PRICE] [int] NULL,
	[SERVICE_ID] [uniqueidentifier] NULL,
	[ORDER_ID] [uniqueidentifier] NULL,
	[NUMBER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLACE]    Script Date: 6/10/2024 9:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLACE](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](300) NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[ADDRESS] [nvarchar](1000) NULL,
	[PRICE] [int] NULL,
	[HOST_ID] [uniqueidentifier] NULL,
	[DELETE_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 6/10/2024 9:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](300) NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[PRICE] [int] NULL,
	[SERVICE_TYPE_ID] [uniqueidentifier] NULL,
	[HOST_ID] [uniqueidentifier] NULL,
	[DELETE_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_TYPE]    Script Date: 6/10/2024 9:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_TYPE](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ORDER_DETAIL] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PLACE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SERVICE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SERVICE_TYPE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_GUEST_ID] FOREIGN KEY([GUEST_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_GUEST_ID]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_HOST_ID] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_HOST_ID]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_PLACE] FOREIGN KEY([PLACE_ID])
REFERENCES [dbo].[PLACE] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_PLACE]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_ORDER_ID] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_ORDER_ID]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_SERVICE_ID] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_SERVICE_ID]
GO
ALTER TABLE [dbo].[PLACE]  WITH CHECK ADD  CONSTRAINT [FK_PLACE_HOST_ID] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PLACE] CHECK CONSTRAINT [FK_PLACE_HOST_ID]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_HOST_ID] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_SERVICE_HOST_ID]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_SERVICE_TYPE_ID] FOREIGN KEY([SERVICE_TYPE_ID])
REFERENCES [dbo].[SERVICE_TYPE] ([ID])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_SERVICE_SERVICE_TYPE_ID]
GO
USE [master]
GO
